<%- include("header") -%>
<div class="wrapper">


  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">Elegant, beutiful and powerful. Your cryptocurrency portfolio reimagined. 100% Free.</h1>
            <a href="/https://apps.apple.com/ca/app/portfolio-view-crypto-tracker/id1540033839" class="btn btn-outline btn-xl js-scroll-trigger">Download Now!</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <img src="images/phone.png" class="img-fluid" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading">View your portfolio in a new light.</h2>
          <p>Portfolio View is only availble on iOS.</p>
          <div class="badges">
            <a class="badge-link" href="https://apps.apple.com/ca/app/portfolio-view-crypto-tracker/id1540033839"><img src="images/app-store-badge.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="feature-section" id="services">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Why Portfolio View</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
      <div class="row text-center">
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-simplybuilt fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">Simple</h4>
          <p>Portfolio view was built with simplicity at its core yet provides all the features you may need.</p>
        </div>
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-tachometer-alt fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">Fast & Responsive</h4>
          <p>Our goal is to minimize the amount of time it takes between unlocking your phone and seeing your portfolio. </p>
        </div>
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-mobile-alt fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">Built for iPhone</h4>
          <p>Portfolio view was built for iPhone and utilizes all the power that your iPhone has to offer.</p>
        </div>
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-eye fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">Beautiful Design</h4>
          <p>Portfolio View has a sleek elegant and minimal design.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="features">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" data-interval="1000">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                  <h1>The market at your fingertips.</h1>
                  <p>With over 100 cryptocurrencies available and more to come, the entire market is available at your fingertips. Prices, 24-hour change, and your entire portfolio all on one screen.</p>
                </div>
              </div>
              <div class="col-lg-4 my-auto">
                <div class="device-container">
                  <div class="device-mockup iphone6_plus portrait white">
                    <div class="device">
                      <div class="screen">
                        <img src="images/image1.png" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item active" data-interval="1000">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                  <h1>Powerful tools to stay up to date.</h1>
                  <p>View the price history of any coin on multiple time frames. Check historic prices for any date in the past and always stay up to date on the market.</p>
                </div>
              </div>
              <div class="col-lg-4 my-auto">
                <div class="device-container">
                  <div class="device-mockup iphone6_plus portrait white">
                    <div class="device">
                      <div class="screen">
                        <img src="images/image2.png" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-interval="1000">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                  <h1>Portfolio mangement on a new level.</h1>
                  <p>Mange your portfolio with the powerful transaction system. View profits/ losses of previous trades and transactions. Hundreds of fiat currencies available. </p>
                </div>
              </div>
              <div class="col-lg-4 my-auto">
                <div class="device-container">
                  <div class="device-mockup iphone6_plus portrait white">
                    <div class="device">
                      <div class="screen">
                        <img src="images/image3.png" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-interval="100">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                  <h1>Your portfolio reimagined.</h1>
                  <p>View your entire portfolio and always have a clear overview of the status of your portfolio.</p>
                </div>
              </div>
              <div class="col-lg-4 my-auto">
                <div class="device-container">
                  <div class="device-mockup iphone6_plus portrait white">
                    <div class="device">
                      <div class="screen">
                        <img src="images/image4.png" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
</div>
<%- include("footer") -%>
