<%- include("header") -%>

<section class="success">
  <div class="container text-center mt-5">
    <h1><%= message %></h1>
    <a class="mt-3 btn btn-success btn-xl" href="/">Home</a>
  </div>

</section>
<%- include("footer") -%>
