<%- include("header") -%>

<section class="new">
  <div class="container">
    <h1>What's new in V4?</h1>
    <ul style="color: black" class="list-group">
      <li class="list-group-item">2000 cryptocurrencies to enable instead of just 250</li>
      <li class="list-group-item list-group-item-dark">Alerts are now availble in all fiat currencies instead of just USD</li>
      <li class="list-group-item">Volatility alerts for BTC; get alerted during major price swings</li>
      <li class="list-group-item list-group-item-dark">Transactions can now be edited</li>
      <li class="list-group-item">You can now view the high and low price for every time frame</li>
    </ul>
  </div>



</section>

<%- include("footer") -%>
